[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
[push]
  default = simple
[color]
  ui = true
[user]
	name = Florian Nitschmann
	email = f.nitschmann@googlemail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
