/config/nvim/swap/*
!/config/nvim/swap/.keep
/config/nvim/tmp/*
!/config/nvim/tmp/.keep

/git/.gitconfig

/tmux/.tmux/plugins/*
!/tmux/.tmux/plugins/.keep

/vim/.vim/dein/cache_nvim
/vim/.vim/dein/state_nvim.vim
/vim/.vim/dein/.cache/*
!/vim/.vim/dein/.cache/.keep
/vim/.vim/dein/repos/*
!/vim/.vim/dein/repos/.keep
/vim/.vim/swap/*
!/vim/.vim/swap/.keep
/vim/.vim/tmp/*
!/vim/.vim/tmp/.keep

*.swp
